[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
Click = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"
flake8 = "*"
autopep8 = "*"
mypy = "*"

[requires]
python_version = "3.7"
